@import url(//db.onlinewebfonts.com/c/d52e9a7370b1ca51e6c58f85e96c45d5?family=Stardew+Valley);
@font-face {
  font-family: "Stardew Valley";
  src: url("//db.onlinewebfonts.com/t/d52e9a7370b1ca51e6c58f85e96c45d5.eot");
  src: url("//db.onlinewebfonts.com/t/d52e9a7370b1ca51e6c58f85e96c45d5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d52e9a7370b1ca51e6c58f85e96c45d5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d52e9a7370b1ca51e6c58f85e96c45d5.woff") format("woff"), url("//db.onlinewebfonts.com/t/d52e9a7370b1ca51e6c58f85e96c45d5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d52e9a7370b1ca51e6c58f85e96c45d5.svg#Stardew Valley") format("svg");
}
/* FONTS : 

font-family: 'Bebas Neue', cursive;
font-family: 'Chewy', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Inspiration', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Licorice', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'The Nautigal', cursive;
font-family: 'Twinkle Star', cursive;
font-family: 'Zilla Slab Highlight', cursive;
*/
:root {
  --gradient1: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  --gradient2: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  --gradient3: linear-gradient(
    85deg,
    #43e97b,
    #00d5aa,
    #00bcd2,
    #009fe7,
    #007fe1,
    #2758bf
  );
  --gradient4: linear-gradient(270deg, #ffdee9 0%, #b5fffc 100%);
  --gradient5: linear-gradient(
    45deg,
    #000000,
    #000000,
    #000000,
    #303030,
    #5e5e5e,
    #919191,
    #c6c6c6,
    #e5e5e5,
    white,
    white,
    white
  );
  --h1_fontsize: clamp(2.8rem, 3.5vw, 4.5vw);
  --h2_fontsize: clamp(2.8rem, 3vw, 4.5rem);
  --h3_fontsize: clamp(1.8rem, 2.5vw, 3.5vw);
  --h4_fontsize: clamp(4em, 7vw, 9vw);
  --h5_fontsize: clamp(2.2rem, 4.8vw, 5.5vw);
  --p_fontsize: clamp(1.2rem, 1.5vw, 2rem);
}

body {
  height: 100%;
  background-image: url("/sdbg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

* {
  margin: 0;
  padding: 0;
}

/* ########################## NAVIGATION ########################## */
.primary-nav {
  background-color: #007dca;
  border-bottom: white 3px solid;
}

.primary-nav li {
  margin-top: 0.2vw;
  font-family: "Twinkle Star", "Stardew Valley", Georgia, "Times New Roman", Times, serif;
  font-size: 2.5vw;
  color: white;
  height: 3.5vw;
  list-style: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.primary-nav img {
  max-width: 75px;
  max-height: 75px;
}

.menu_btn:hover {
  color: #00d5aa;
  animation: scale2 3s ease-in-out infinite;
}

.container {
  position: fixed;
  z-index: 999;
  width: 100% !important;
  margin-top: 0;
}

.flex {
  display: flex;
  gap: var(--gap, 0vw);
}

.sidebar {
  height: 20.5vw;
  width: 6vw;
  position: fixed;
  right: 0px;
  top: 15vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3vw 0px 0px 3vw;
}
.sidebar .sideicons_div1 {
  position: relative;
  top: 1.8vw;
  left: 0.55vw;
  height: 5vw;
  width: 5vw;
  border-radius: 70%;
}
.sidebar .sideicons_div2 {
  position: relative;
  top: 2.8vw;
  left: 0.85vw;
  height: 5vw;
  width: 5vw;
  border-radius: 70%;
}
.sidebar .sideicons_div3 {
  position: relative;
  top: 4vw;
  left: 0.75vw;
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
}
.sidebar .sideicons:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar .side_icons:hover {
  animation: scale1 1.1s ease-in infinite;
}
.sidebar .side_icons {
  height: 5vw;
}
.sidebar .kids {
  width: 5vw;
  height: auto;
  margin-top: 1vw;
}

.mochi {
  margin-top: 0.3vw;
  height: 3.5vw;
}

@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.17);
  }
  100% {
    transform: scale(1);
  }
}
.mochi:hover {
  animation: scale1 2s ease-in infinite;
}

.mochi2 {
  margin-top: 0.9vw;
  height: 2.7vw;
  width: auto;
}

@keyframes float {
  0% {
    box-shadow: 0.3vw 0.3vw 1vw 5px rgba(255, 255, 255, 0.55), inset -0.1vw -0.1vw 2px rgba(255, 255, 255, 0), inset 0.1vw 0.1vw 2px rgba(255, 255, 255, 0);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 1.3vw 2vw 0px rgba(0, 0, 0, 0.7), inset -0.2vw -0.2vw 0.65vw rgba(255, 255, 255, 0.45), inset 0.2vw 0.2vw 0.65vw rgba(255, 255, 255, 0.45);
    transform: translatey(-1vw);
  }
  100% {
    box-shadow: 0.3vw 0.3vw 1vw 5px rgba(255, 255, 255, 0.55), inset -0.1vw -0.1vw 2px rgba(255, 255, 255, 0), inset 0.1vw 0.1vw 2px rgba(255, 255, 255, 0);
    transform: translatey(0px);
  }
}
.sashenka {
  /* background-image: linear-gradient(
    0deg,
    #fb6f74 0%,
    #f88c90 50%,
    #fad0c4 100%
  );*/
  /* background-image: linear-gradient(
    215deg,
    #4158d0 0%,
    #7341d0 33%,
    #c850c0 66%,
    #ffcc70 100%*/
  /*background-image: linear-gradient(
    180deg,
    #0093ac 0%,
    #00768e 25%,
    #005a72 50%,
    #004056 75%,
    #00273c 100%
  ); */
  background-image: var(--gradient3);
  background-size: 400%;
  background-position: left;
  transition: background-position 1s;
  width: 35vw;
  margin-left: 32.5vw;
  margin-top: 5.5vw;
  border-radius: 100px;
  overflow: hidden;
  border: white 1px solid;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.4), inset 2px 2px 4px rgba(255, 255, 255, 0.4);
  /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
  transform: translatey(0px);
  animation: float 2.5s ease-in-out infinite, sashenka-animation 5s infinite alternate;
}

/*.sashenka:hover,
.sashenka:focus {
  background-position: right;
}*/
@keyframes sashenka-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.sashenkatitle {
  color: white;
  font-family: "Twinkle Star", "The Nautigal", "Tangerine", "Inspiration", "Just Another Hand", "Leckerli One", "Parisienne", "Pacifico", "Stardew Valley", "Dancing Script", Georgia, "Times New Roman", Times, serif;
  font-size: var(--h5_fontsize);
  text-align: center;
  margin-top: 0vw;
  text-shadow: 2px 2px 3px black;
}

.nums-box {
  background-image: linear-gradient(315deg, #79f1a4 10%, #0e5cad 100%);
  width: 85vw;
  margin: 1vw auto 2vw;
  border-radius: 8px;
  border: #ffffff 1px solid;
  min-height: 30vw;
  box-shadow: -10px -10px 35px rgba(255, 255, 255, 0.7), 10px 10px 35px rgba(255, 255, 255, 0.7), inset -3px -3px 20px rgba(255, 255, 255, 0.6), inset 3px 3px 20px rgba(255, 255, 255, 0.6);
}

.spotify-player {
  width: 35vw;
  max-width: 700px;
  margin: 1.5vw auto 1.5vw;
}

.content-box {
  width: 90%;
  margin: auto;
  color: white;
  font-family: "Poppins";
  border-top: white 3px solid;
}

.content-box h1 {
  font-family: "Twinkle Star", "Parisienne", "Dancing Script", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: var(--h1_fontsize);
  text-shadow: 1px 2px 5px black;
  border-top: white 3px solid;
  padding: 2vw 0vw 2vw 0px;
}

.content-box h2 {
  font-family: "Parisienne", "Twinkle Star", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 2vw 0vw 0vw 0px;
  font-size: var(--h2_fontsize);
  text-shadow: 1px 2px 5px black;
}

.content-box h3 {
  font-family: "Parisienne", "Twinkle Star", "Dancing Script", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: var(--h3_fontsize);
  text-shadow: 1px 2px 5px black;
  margin: 2vw 0vw 2vw 0px;
}

.content-box h4 {
  font-family: "Twinkle Star", "Chewy", "Bebas Neue", "Dancing Script", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: var(--h4_fontsize);
  padding: 2vw 0vw 2vw 0px;
  border-top: white 3px solid;
  background-image: var(--gradient3);
  background-size: 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: sashenka-animation 3s infinite alternate;
  text-shadow: 7px 2px 1px white;
}

.p_intro {
  width: 70%;
  max-width: 1000px;
  margin: 1vw auto 2vw;
  font-size: var(--p_fontsize);
  text-shadow: 2px 1px 2px black;
}

.image-box {
  margin-top: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ################################ MEDIA QUERIES ################################ */
@media (max-width: 1350px) and (min-width: 1000px) {
  .p_intro {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }

  .sashenka {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vw;
    min-width: 52vw;
    max-width: 68vw;
  }

  .sashenkatitle {
    font-size: 7.2vw;
  }

  .p_intro {
    width: 90%;
  }

  .nums-box {
    width: 90vw;
    margin-left: 1vw;
  }

  .sidebar {
    width: 8vw;
    height: 27vw;
  }
}